body {
	font-family: sans-serif;
}
html, body {
	height: 100%;
}
h1 {
	font-size: 1.25em;
}
p, label {
	font-size: 0.85em;
}
#intro, #filters {
	border-bottom: 1px solid black;
}
#controls {
	padding-top: 1em;
}
#filters {
	padding-bottom: 1em;
}